## Pandas part 2
- Use *gamedata.json* file from data_files directory in this exercise. **Important:** Edit the same DataFrame throughout this whole notebook (changes to DataFrame are applied from each task)!

1 Read the first 10 objects from the gamedata.json file into the DataFrame. Then read the last five objects from the same file into another DataFrame. Combine these two into one DataFrame.

In [1]:
import pandas as pd
gd = pd.read_json(r"C:\Users\jmhel\OneDrive\Työpöytä\JAMK\DA & AI\gamedata.json") 

first = gd[:10]
second = gd[-5:]

combined = pd.concat([first,second])
combined.reset_index(inplace=True,drop=True)

2 Set *steamRatingPercent* to NaN for all rows having *steamRatingCount* below 1000.

In [2]:
combined.loc[combined['steamRatingCount'] < 1000, 'steamRatingPercent'] = float('nan')

3 Fill all NaN values in *steamRatingPercent* column by increasing the *metacriticScore* from the same row with 7 %.

In [3]:
combined.loc[combined['steamRatingPercent'].isna(), 'steamRatingPercent'] = (combined.loc[combined['steamRatingPercent'].isna(), 'metacriticScore'] * 1.07).round(2)

4 Group the data by *steamRatingText* column so that averages of the following columns will be calculated for each text value: *steamRatingPercent*, *metacriticScore*, *normalPrice* and *salePrice*. Do not show any other columns in the resulting DataFrame.

In [4]:
result = combined.groupby('steamRatingText')[['steamRatingPercent', 'metacriticScore', 'normalPrice', 'salePrice']].mean()
result

,steamRatingPercent,metacriticScore,normalPrice,salePrice
steamRatingText,,,,
Mostly Negative,43.575000,56.000000,36.490000,6.09
Mostly Positive,75.328000,70.400000,15.990000,3.14
Overwhelmingly Positive,96.500000,87.000000,24.990000,2.99
Very Positive,81.186667,75.333333,15.823333,2.49